# Virtual environment
.venv/
.venv312/
venv/
env/

# Python cache and build files
__pycache__/
*.py[cod]
*.egg-info/
dist/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Local development files
.env
*.log
*.sqlite3

# macOS files
.DS_Store

# Testing/coverage
.coverage
node_modules
